@font-face {
  font-family: 'Apercu-Regular';
  src: url('../fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Apercu-Regular.otf')  format('opentype'),
	     url('../fonts/Apercu-Regular.woff') format('woff'), url('../fonts/Apercu-Regular.ttf')  format('truetype'), url('../fonts/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Mono';
  src: url('../fonts/Apercu-Mono.eot?#iefix') format('embedded-opentype'),  url('../fonts/Apercu-Mono.otf')  format('opentype'),
	     url('../fonts/Apercu-Mono.woff') format('woff'), url('../fonts/Apercu-Mono.ttf')  format('truetype'), url('../fonts/Apercu-Mono.svg#Apercu-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}
